@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.container {
    box-sizing: box-border;
    width: 550px;
    height: 729px;
    background-color: #F4F4F4;
}

#topSection {
    box-sizing: box-border;
    width: 550px;
    height: 285px;
    background-color: #6943FF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    font-weight: 800px;
    padding-bottom: 15px;
}

#userInput {
    width: 117px;
    height: 83px;
    background-color: #6943FF;
    border: 2px solid #B295FF;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 800px;
    text-align: center;
}

#btnConverter {
    width: 117px;
    height: 42px;
    background-color: #FFFFFF;
    color: #3D3D3D;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

.metricsDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
}

.metric {
    background-color: #FFFFFF;
    box-sizing: border-box;
    height: 109px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    gap: 10px;
}

h3 {
    margin: 0;
    font-size: 20px;
    font-weight: semi-bold;
    color: #5A537B;
}

p {
    margin: 0;
    color: #353535;
}